.header {
  width: 100%;
  height: 75px;
  background-color: #2a3f79;
}
.header__grid {
  box-shadow: 0px 10px 14px -1px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 400px 1fr repeat(2, 75px);
  grid-template-rows: 1fr;
  color: white;
  font-size: 36px;
}
.header__grid > * {
  align-self: center;
}
.header__title {
  display: flex;
  height: 75px;
  margin: auto 5px;
  align-items: center;
  grid-area: 1/1/1/1;
}
.header__welcome {
  font-size: 18px;
  text-align: right;
}
.header__user {
  grid-area: 1/3/1/4;
}
.header__logout {
  grid-area: 1/4/1/5;
}

.icon {
  cursor: pointer;
  text-align: center;
}
.icon:hover {
  opacity: 0.5;
}
.icon:active {
  opacity: 0.25;
}

.nav__flex {
  height: calc(100vh - 85px);
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  margin: 5px;
}
.nav__header {
  font-weight: bold;
  color: darkblue;
  margin: 7.5px auto;
}
.nav__list {
  list-style-type: none;
  color: #383838;
  padding: 10px;
}
.nav__list > * {
  font-size: 18px;
  margin: 5px auto;
  padding: 10px 15px;
  background-color: #ececec;
  border-radius: 1em;
  text-align: center;
  cursor: pointer;
}
.nav__list > *:hover {
  opacity: 0.5;
}
.nav__list > *:active {
  opacity: 0.25;
}

.books__container {
  height: calc(100vh - 85px);
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  width: auto;
  font-size: 24px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.books__header {
  font-weight: bold;
  color: darkblue;
  margin: 7.5px auto;
}
.books__input {
  width: 60%;
  background-color: lightgrey;
  border-radius: 1em;
  font-size: 18px;
  padding: 7.5px 10px;
  border: 0;
}
.books__input:focus {
  outline: none;
}
.books__list {
  margin: 2% auto;
  width: 90%;
  overflow-y: scroll;
  list-style-type: none;
}

.book {
  width: 90%;
  margin: 3.5% 2%;
  color: #383838;
}
.book__item {
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  min-height: 150px;
  height: auto;
}
.book__title {
  text-align: center;
  width: 100%;
  background-color: #2a3f79;
  border-radius: 1em 1em 0px 0px;
  color: white;
  padding: 7.5px 0px;
}
.book__status {
  font-size: 18px;
  padding: 7.5px;
}
.book__status.available {
  color: green;
}
.book__status.unavailable {
  color: red;
}
.book__description {
  font-size: 18px;
  padding: 7.5px;
}
.book__isbn {
  font-size: 18px;
  font-style: italic;
  padding: 7.5px;
}
.book__separator {
  width: 90%;
  height: 2px;
  background-color: darkgrey;
  margin: 2% auto;
}
.book__buttons-container {
  width: 100%;
  padding: 7.5px;
  font-size: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.book__button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.book__button-container.disabled {
  pointer-events: none;
  color: lightgrey;
}
.book__button {
  color: #2a3f79;
  margin: auto 5px;
}
.book__button-text {
  font-size: 18px;
}

.sign-in {
  width: 35%;
  margin: 2.5% 32.5%;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
.sign-in > * {
  margin: 2% auto;
}
.sign-in__header {
  font-size: 36px;
  color: darkblue;
  font-weight: bold;
}
.sign-in__separator {
  width: 90%;
  height: 2px;
  background-color: darkgrey;
  margin: 2% auto;
}
.sign-in__input {
  width: 80%;
  font-size: 18px;
  border: 0;
  background-color: #ececec;
  border-radius: 1em;
  padding: 7.5px;
}
.sign-in__profile-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sign-in__profile-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-in__icon {
  font-size: 48px;
  margin: 7.5px;
  color: #2a3f79;
}
.sign-in__profile-text {
  font-weight: bold;
}
.sign-in__submit-button {
  width: 30%;
  font-size: 24px;
  color: white;
  background-color: #2a3f79;
  padding: 7.5px;
  border-radius: 1em;
  border: 0;
  cursor: pointer;
}
.sign-in__submit-button:hover {
  opacity: 0.5;
}
.sign-in__submit-button:active {
  opacity: 0.25;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-body {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=style.css.map */
